extends _layout.pug

block body
  h1 Hello world
  p
    h1 This is a proof of concept
    p Please don't judge my design abilities :(
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eaque corrupti ratione quasi. Aperiam nisi sint vel rem repudiandae recusandae, doloribus expedita saepe voluptatibus. Officia perferendis blanditiis repudiandae inventore excepturi.
