doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title ioxua.github.io
    link(rel="stylesheet", href="style.css")

  body
    nav
      h1 menu do template
    div(class="container")
      block body
